@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000;
    color: #fff;
}

.header{
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.logo{
    width: 150px;
    cursor: pointer;
}
nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.language-btn{
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 7px 10px;
}

.language-btn img{
    width: 10px;
    margin-left: 10px;
}

.header-content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
}

.header-content h1{
    font-size: 3rem;
    line-height: 100px;
}

.header-content h3{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.email-signup{
    height: 60px;
    width: 40%;
    background: #cea7a715;
    border: 2px solid rgb(173, 170, 170);
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    overflow: hidden;
}

.email-signup input{
    width: 90%;
    color: #fff;
    background: #362e2e15;
    /* flex: 1; */
    border: 0;
    outline: 0;
    margin-left: 20px;
}

.email-signup button{
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    padding: 15px 30px;
}

input::placeholder{
    font-weight: lighter;
    font-size: 15px;
}

.flex{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.submit{
    height: 60px;
    margin-top: 20px;
    padding: 0 10px;
    display: inline-block;
    width: auto;
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 4px;
}

hr{
    border: 3px solid rgb(77, 75, 75);
}

.features{
    padding: 50px 12%;
    font-size: 22px;
    height: auto;
}

.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}    

.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
    padding-left: 90px;
}

.text-col h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.text-col p{
    font-size: 1.5rem;
}

.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-col img{
    display: block;
    margin: auto;
    width: 70%;
}

.faq{
   padding: 10px 12%;
   text-align: center;
   font-size: 18px;
}

.faq h2{
    margin-top: 40px;
   font-weight: 700;
   font-size: 40px;
}

.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 1px;
    cursor: pointer;
    position: relative;
}

label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}

input[type='radio']{
    display: none;
}

.accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s ;
}

.accordion input[type='radio']:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}

.accordion input[type='radio']:checked + label::after{
transform: rotate(135deg);
}

.box{
    margin-bottom: 60px;
}

.footer{
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777;
}

.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.footer .col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer .row{
    align-items: flex-start;
    padding: 10px 0;
}

.footer .language-btn{
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
}

.copyright{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}
